# Unsure what init is doing here
allow init app_data_file:dir setattr;
allow init cid_block_device:blk_file setattr;
allow init clogo_block_device:blk_file setattr;
allow init hob_block_device:blk_file setattr;
allow init logs_block_device:blk_file setattr;
allow init utags_block_device:blk_file setattr;

# Allow init to mount PDS
allow init loop_device:blk_file write;

# Allow init to read battery sysfs
allow init sysfs_battery_supply:lnk_file read;

# Allow init to write in debugfs
allow init debugfs:file write;

allow init device:chr_file r_file_perms;
allow init hal_wifi_hostapd_default:process noatsecure;
allow init video_device:chr_file ioctl;
allow init proc:file create_file_perms;
allow init sysfs:file create_file_perms;
allow init sysfs_msm_power:file w_file_perms;
allow init shell_exec:file execute_no_trans;
allow init sysfs_devices_system_cpu:file write;
allow init sysfs_graphics:file setattr;
allow init sysfs_wlan_fwpath:file setattr;
allow init system_file:file execute_no_trans;
allow init sysfs_socinfo:file write;
