allow mediaserver socket_device:sock_file write;

allow mediaserver cameraserver_service:service_manager add;

allow mediaserver cameraproxy_service:service_manager find;

qmux_socket(mediaserver)
