allow ueventd sysfs_devices_sensors:file create_file_perms;
allow ueventd unlabeled:dir rw_dir_perms;
allow ueventd unlabeled:file { read open getattr };