allow vendor_init audio_data_file:dir create_dir_perms;
allow vendor_init cache_file:dir create_dir_perms;
allow vendor_init cache_file:file create_file_perms;
allow vendor_init rootfs:dir create_dir_perms;
allow vendor_init usermodehelper:file write;
