allow vendor_init audio_data_file:dir create;
allow vendor_init cache_file:dir rw_dir_perms;
allow vendor_init cache_file:file getattr;
allow vendor_init rootfs:dir ra_dir_perms;
allow vendor_init usermodehelper:file write;
