get_prop(wcnss_service, wcnss_prop)

set_prop(wcnss_service, wifi_prop)
set_prop(wcnss_service, wcnss_prop)

allow wcnss_service serialno_prop:file read;
