allow zygote hal_telephony_hwservice:hwservice_manager find;
allow zygote trust_service:service_manager find;
allow zygote telecom_service:service_manager find;
allow zygote keystore_service:service_manager find;
allow zygote wifi_service:service_manager find;
allow zygote storagestats_service:service_manager find;
allow zygote wifip2p_service:service_manager find;
allow zygote rild:binder call;